.idea/
!.gitkeep
/bin/
/docker-compose.override.yml
/.env
!/bin/console
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
/build/
###< symfony/framework-bundle ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
